{% extends "site_base.html" %}

{%load i18n %}
{%load staticfiles %}

{%block body_base %}
{% include "main.html" %}
{% url "analysis_page" as analysis_page %}
{% url "upload_page" as upload_page %}
<link href="{{ STATIC_URL }}css/filelistcustom.css" rel="stylesheet">
<center>
{% if data %}
    <h3> Your Files </h3>
<ul>
<!--    <li class="colordvcon"><a href={{ upload_page }}><div id="img"><img id="adddoc" src="
        {% static "images/adddocument.png" %}"></div></a></li> -->
    {% for rri in data %}
    <!--<li id={{ rri.filename }}> <a href="/{{ analysis_page }}/{{ rri.filename}}">-->
        <li id={{ rri.filename }} class="colordvcon"> <a href="/analysis/{{ rri.filename}}">
        <div id="img">
               <img src="{% static "images/document9.png" %}"/> {{ rri.filename }}</a>
        </div>
           <div class="inline">
               <img id={{ rri.filename }} class="del_btn" src="{% static "images/delete96.png" %}"/> </a>
            </div>
           <div class="inline">
               <img id= "{{ rri.filename }}" class="shareimage"
               src="{% static "images/social24.png" %}"/> </a>
           </div>
           <div id="div_{{ rri.filename }}" style="display:none" class="inline-form">
               <form id="form_{{ rri.filename }}" class="emailform" method="POST">
                   {{ share_form }}
                   <input type"submit" class="btn" id="btn_{{ rri.filename }}"
                   value="Share">
               </form>
           </div>

        </li>
    {% endfor %}
</ul>
{% else %}
    <h3> You do not have any files yet :(</h3>
    <!-- <img src="{% static "images/empty_box.png" %}"/> -->
    <h4>Upload one <a href={{ upload_page }}>here</a></h4>
{% endif %}
    <h3> Files Shared With You </h3>
</center>
</body>
</html>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/filelistcustom.js"></script>
<!-- Colocar todo esse codigo num arquivo separado e ja plotar os resultados
com AJax -->
{% endblock %}
