.colordvcon {
    display:inline-block;
    margin: 3px 1px;
  text-align: center;
  font-family:Courier,monospace;
  padding:6px;
  width: 132px;
  -webkit-border-radius: 5px;
border-radius: 5px;
}

#img {
    display: inline-block;
    float: right;
}

#img img {
    max-width: 200px;
}

.inline{
    display:inline-block;
   float: center;
}

#adddoc {
    padding-bottom: 8px;
}
